* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

button {
  font-size: $button-text;
}
