* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: calc(3vmin + 3rem);
  font-weight: lighter;
}

h2 {
  font-size: calc(1vmin + 2.3rem);
  font-weight: lighter;
}

button {
  font-size: calc(1vmin + 1rem);
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
}

#home {
  min-height: 90vh;
  background: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  overflow: hidden;
}

#home .hero-section {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .hero-section .circle {
  position: absolute;
}

#home .hero-section .circle svg {
  height: 100%;
  width: 100%;
}

#home .hero-section .circle1 {
  position: absolute;
  fill: #bc3a80;
  opacity: 0.1;
  height: calc(14.1rem + 20vmin);
  width: calc(14.1rem + 20vmin);
  z-index: -1;
  bottom: 10%;
  left: 0;
}

#home .hero-section .circle2 {
  position: absolute;
  fill: #1762a7;
  opacity: 0.1;
  height: calc(14.1rem + 10vmin);
  width: calc(14.1rem + 10vmin);
  z-index: -1;
  top: -20%;
  left: 30%;
}

#home .hero-section .circle3 {
  position: absolute;
  fill: #1762a7;
  opacity: 0.1;
  height: calc(54.1rem + 10vmin);
  width: calc(54.1rem + 10vmin);
  z-index: -1;
  top: 40%;
  left: 80%;
}

#home .hero-section .music-girl {
  min-width: 32rem;
}

#home .hero-section .music-girl img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

#home .hero-section .call-to-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47rem;
          flex: 1 1 47rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

#home .hero-section .call-to-action .call-to-action-content {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .hero-section .call-to-action .call-to-action-content h2 {
  padding-top: 1.5rem;
}

#home .hero-section .call-to-action .call-to-action-content .button-container button {
  padding-top: calc(0.5rem + 2vmin);
  padding-bottom: calc(0.5rem + 2vmin);
  padding-right: calc(3.5rem + 3vmin);
  padding-left: calc(3.5rem + 3vmin);
  margin-top: 7rem;
  border-radius: 1rem;
  border: none;
  background: #1762a7;
}
/*# sourceMappingURL=style.css.map */