$header1: calc(3vmin + 3rem);
$header2: calc(1vmin + 2.3rem);
$button-text: calc(0.7vmin + 1.5rem);
$button-color: #1762a7;
$background-color: #2f303a;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin spacing($width, $margin) {
  width: $width;
  margin: 0 $margin;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@import "globals";
@import "homepage";
